.BuyButton {
  height: 70px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  background-color: #0043ff;
  border-radius: 7px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.5s;
  color: white;
  &:hover {
    background-color: #0030b6;
  }
}
